[Unit]
Description=JupyterLab Server
Documentation=https://jupyter-server.readthedocs.io/
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/data/ai/chenzhangyue/code/train
Environment="PATH=/data/conda/envs/attend-ray-py312/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
Environment="PYTHONUNBUFFERED=1"
Environment="JUPYTER_CONFIG_DIR=/data/ai/chenzhangyue/code/train/platform-data/jupyter/config"
Environment="JUPYTER_DATA_DIR=/data/ai/chenzhangyue/code/train/platform-data/jupyter/data"
RuntimeDirectory=jupyterlab
RuntimeDirectoryMode=0750
Environment="JUPYTER_RUNTIME_DIR=/run/jupyterlab"
ExecStart=/data/conda/envs/attend-ray-py312/bin/jupyter-lab --no-browser --allow-root --ServerApp.ip=0.0.0.0 --ServerApp.port=8888 --ServerApp.port_retries=0 --ServerApp.root_dir=/data/ai/chenzhangyue/code/train --ServerApp.allow_remote_access=True --ServerApp.quit_button=False --ServerApp.base_url=/GC5026/absproxy/8888/ --ServerApp.custom_display_url=https://coder.vdian.net/GC5026/absproxy/8888/
Restart=on-failure
RestartSec=5s
TimeoutStopSec=30s
UMask=0027
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=full
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
RestrictSUIDSGID=true

[Install]
WantedBy=multi-user.target
